@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Vogue.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    user-select: none;  /* Disable text selection */
    overflow: hidden;   /* Prevent scrolling */
}

.landing-page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;  /* Disable pointer events */
}

.landing-page * {
    pointer-events: auto;  /* Re-enable pointer events for children */
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px;  /* Ensure it doesn't exceed the max width */
    height: auto;
    aspect-ratio: 3 / 4;  /* Maintain aspect ratio */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    min-width: 100%;
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e3261e;
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: normal;
    white-space: nowrap;  /* Prevent text from wrapping */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container h1 {
    font-size: 138px;
    margin: 0;
    font-weight: normal;
    padding-left: 40px;  /* Adjust this value to balance the spacing before and after the text */
    padding-right: 40px; /* Adjust this value to balance the spacing before and after the text */
}

.text-container p {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;  /* Adjust this value to move the text vertically */
    margin-left: 701px;  /* Adjust this value to move the text horizontally */
}

.enter-button {
    margin-top: 35px;  /* Adjust this value to move the button vertically */
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'CustomFont';
    transition: background-color 0.4s;
    align-self: center; /* Center the button */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;  /* Re-enable pointer events for button */
}

.enter-button:hover {
    background-color: #e3261e;
}

.speaker-button {
    position: absolute;
    top: 280px; /* Adjust this value to move the button vertically */
    left: 11.5%;
    transform: translateX(50%);
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;  /* Re-enable pointer events for button */
}

.speaker-icon {
    width: 30px;
    height: 30px;
    transition: filter 0.4s;
}

.speaker-button:hover .speaker-icon {
    filter: invert(26%) sepia(89%) saturate(7463%) hue-rotate(348deg) brightness(95%) contrast(105%);
}

/* Media queries for different screen sizes */
@media (max-width: 1920px) { /* 1080p laptop screen */
    .slideshow-container {
        width: 90%;  /* Adjust width for smaller screens */
        height: auto;
    }

    .slide img {
        height: auto; /* Ensure image adjusts height based on container */
    }

    .text-container h1 {
        font-size: 140px;  /* Adjust font size for very small screens */
        padding-left: 23px;
        padding-right: 20px;
    }

    .text-container p {
        font-size: 18.7px;
        margin-left: 707px;  /* Adjust position for very small screens */
        margin-top: 10px;  /* Adjust the margin for very small screens */
    }

    .enter-button {
        font-size: 18px;
        padding: 6px 12px;
        margin-top: 35px;
    }

    .speaker-button {
        top: 280px;  /* Adjust this value to move the button vertically for very small screens */
        left: 14.5%;
        transform: translateX(-50%);
    }

    .speaker-icon {
        width: 25px;
        height: 25px;
    }
}


@media (max-width: 768px) {
    .slideshow-container {
        width: 90%;  /* Adjust width for smaller screens */
        height: auto;
    }

    .slide img {
        height: auto; /* Ensure image adjusts height based on container */
    }

    .text-container h1 {
        font-size: 80px;  /* Adjust font size for smaller screens */
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-container p {
        font-size: 16px;
        margin-left: 0;  /* Adjust position for smaller screens */
        margin-top: 10px;  /* Adjust the margin for smaller screens */
    }

    .enter-button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .speaker-button {
        top: 120px;  /* Adjust this value to move the button vertically for smaller screens */
        left: 50%;
        transform: translateX(-50%);
    }

    .speaker-icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) { /* iPhone 14 pro max screen */
    .slideshow-container {
        width: 60%;  /* Adjust width for very small screens */
        height: auto;
        max-width: 100%;
    }

    .slide img {
        height: auto; /* Ensure image adjusts height based on container */
    }

    .text-container h1 {
        font-size: 55px;  /* Adjust font size for very small screens */
        padding-left: 23px;
        padding-right: 20px;
    }

    .text-container p {
        font-size: 9.9px;
        margin-left: 246px;  /* Adjust position for very small screens */
        margin-top: 10px;  /* Adjust the margin for very small screens */
    }

    .enter-button {
        font-size: 9px;
        padding: 6px 12px;
        margin-top: 20px;
    }

    .speaker-button {
        top: 110px;  /* Adjust this value to move the button vertically for very small screens */
        left: 13%;
        transform: translateX(-50%);
    }

    .speaker-icon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 390px) { /* iPhone 12 pro screen */
    .slideshow-container {
        width: 60%;  /* Adjust width for very small screens */
        height: auto;
        max-width: 100%;
    }

    .slide img {
        height: auto; /* Ensure image adjusts height based on container */
    }

    .text-container h1 {
        font-size: 50px;  /* Adjust font size for very small screens */
        padding-left: 23px;
        padding-right: 20px;
    }

    .text-container p {
        font-size: 9px;
        margin-left: 223px;  /* Adjust position for very small screens */
        margin-top: 10px;  /* Adjust the margin for very small screens */
    }

    .enter-button {
        font-size: 9px;
        padding: 6px 12px;
        margin-top: 20px;
    }

    .speaker-button {
        top: 100px;  /* Adjust this value to move the button vertically for very small screens */
        left: 13%;
        transform: translateX(-50%);
    }

    .speaker-icon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 390px) { /* iPhone 12 pro screen */
    .slideshow-container {
        width: 60%;  /* Adjust width for very small screens */
        height: auto;
        max-width: 100%;
    }

    .slide img {
        height: auto; /* Ensure image adjusts height based on container */
    }

    .text-container h1 {
        font-size: 50px;  /* Adjust font size for very small screens */
        padding-left: 23px;
        padding-right: 20px;
    }

    .text-container p {
        font-size: 9px;
        margin-left: 223px;  /* Adjust position for very small screens */
        margin-top: 10px;  /* Adjust the margin for very small screens */
    }

    .enter-button {
        font-size: 9px;
        padding: 6px 12px;
        margin-top: 20px;
    }

    .speaker-button {
        top: 100px;  /* Adjust this value to move the button vertically for very small screens */
        left: 13%;
        transform: translateX(-50%);
    }

    .speaker-icon {
        width: 15px;
        height: 15px;
    }
}